html {
    font-size: 62.25%;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-areas: "header header header header"
                         "hero hero hero hero"
                         "about about about about"
                         "services services services services"
                         "projects projects projects projects"
                         "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/*-------- HEADER --------*/

.header {
    grid-area: header;
    background-color: #fff;
}

.header .header-container {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header h1 {
    font-weight: 700;
    font-size: 3rem;
    transition: 0.3s;
}

.header a:hover h1 {
    color: coral;
}

/*-------- HERO --------*/

.hero {
    grid-area: hero;
    height: 89vh;
    background: url('../img/lemons.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    font-weight: bold;
    font-size: 4rem;
}

.hero::after {
    content: url(../img/seta_preta.png);
    height: 35px;
    bottom: 50px;
    position: absolute;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow {
    0% {-webkit-transform: translateY(0); opacity: 0.4;}
    100% {-webkit-transform: translateY(0.4em); opacity: 0.9;}
}

@media(max-width: 445px) {
    .hero {
        height: 75vh;
    }

    .hero h2 {
        font-size: 2.5rem;
    }

    .hero::after {
        height: 20px;
        bottom: 110px;
    }
}

/*-------- ABOUT --------*/

.about {
    background-color: rgb(255, 255, 255);
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: var(--max-width-size);
    margin: 0 auto;
}

.about .item {
    padding: 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.about .item .btn-know-more {
    color: rgb(150, 150, 150);
    align-self: flex-start;
}

.about .item .btn-know-more:hover {
    font-weight: bold;
    color: black;
}

.about .item h3 {
    font-weight: bold;
    font-size: 4rem;
}

.about .item p {
    margin: 20px 0;
    font-size: 1.8rem;
}

.about .image {
    width: 100%;
    height: 100%;
}

.about .image.right {
    background: url(../img/bridge.jpg) center center no-repeat;
    background-size: cover;
}

.about .image.left {
    background: url(../img/sky.jpg) center center no-repeat;
    background-size: cover;
}

@media(max-width: 445px) {
    .about .item {
        text-align: center;
    }

    .about {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

/*-------- SERVICES --------*/

.services {
    grid-area: services;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.services .service {
    padding: 70px 20px;
    text-align: center;
}

.services .service img {
    width: 250px;
    margin-bottom: 30px;
}

.services .service h3 {
    font-size: 3rem;
    font-weight: bold;
}

.services .service p {
    font-size: 2rem;
    font-weight: 400;
    max-width: 400px;
    margin: 20px auto 0;
    line-height: 25px;
}

.services .service:nth-child(1) {
    background-color: rgb(194, 135, 250);
}

.services .service:nth-child(2) {
    background-color: lightpink;
}

@media(max-width: 445px) {
    .services {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
    }
}

/*-------- PROJECTS --------*/

.projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.projects img{
    width: 100%;
    height: 100%;
    transition: 0.8;
}

.projects a:hover {
    opacity: 0.8;
}

@media(max-width: 768px) {
    .projects {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media(max-width: 445px) {
    .projects {
        grid-template-columns: 1fr;
    }
}

/*-------- FOOTER --------*/

.footer {
    grid-area: footer;
    display: flex;
    background-color: lightgreen;
    flex-direction: column;
    text-align: center;
    padding: 60px 0;
}

.footer h4 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer nav {
    margin: 50px 0;
}

.footer nav ul {
    display: flex;
    justify-content: center;
    max-width: 320px;
    margin: 0 auto;
}

.footer nav ul li a {
    font-weight: 500;
    font-size: 2rem;
    margin: 20px;
    transition: 0.3;
}

.footer nav ul li a:hover {
    font-weight: bold;
    font-size: 2rem;
}

.footer .social a {
    margin: 20px;
}

.footer .social i {
    font-size: 2rem;
    transition: 0.3;
}

.footer .social a:hover {
    color: orange;
}